a {
    text-decoration: none;
    color: var(--font-color);
}
.mnu-navbar {
    width: 100%;
    height: 8vh;

    font-size: large; /* ??? */

    background-color: aquamarine;
}
.mnu-navbar ul {
    width: 100%;
    list-style-type: none;
}
.mnu-navbar li{
    float: left;
    
    width: 8%;
    height: 8vh;
    margin-left: 10px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}
.mnu-navbar li:first-child{
    margin-left: 20px;
}
.mnu-navbar li:last-child {
    float: right;
    margin-right: 20px;
}
.mnu-navbar li:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: aqua;
}
.main-navbar {
    width: 100%;
    height: 92vh;
    overflow: hidden;
}
.main-navbar > iframe{
    width: 100%;
    height: 92vh;
}